$border-color:  #ddd

.user-info
  background-color: #fff
  border: 1px solid $border-color
  display: inline-flex
  flex-direction: column
  left: 50%
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  z-index: 1

  &__table,.aui
    width: auto

  &__btn
    align-self: flex-end
    margin: 10px 20px 10px 0
    text-transform: uppercase