.arrow-button
  height: 30px
  width: 35px
  position: relative
  outline: 0

  font:
    size: 24px
    weight: bolder

  &, & ~.arrow-button
    margin: 0

  &--left
    border-top-right-radius: 0
    border-bottom-right-radius: 0

  &--right
    border-top-left-radius: 0
    border-bottom-left-radius: 0
